# AWS RDS MySQL Configuration
DB_NAME=ipl_auction
DB_USER=admin
DB_PASSWORD=your_rds_password
DB_HOST=database-1.c9mmuaqii5fl.ap-south-1.rds.amazonaws.com
DB_PORT=3306

# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
